/* Button Module - Global
================================*/
.btn,
.button {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 8px 1em;
	outline: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid #d9d9d9;
	background: #fff;
	color: #222;
	font: bold 14px/1 'Open Sans Condensed','Arial Narrow','Helvetica Narrow', arial, helvetica, sans-serif;
	font-stretch: condensed; /* for rendering Arial Narrow in FF properly */ 
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none !important;
	text-transform: uppercase;
	vertical-align: middle;
	cursor: pointer;
}
.btn-mini {
	padding: 6px 0.85em;
	outline: none;
	border: 1px solid #d9d9d9;
	font-size: 12px;
}
.btn-large {
	padding-top: 10px;
	padding-bottom: 9px;
}
.btn:hover, 
.btn:active, 
.btn-mini:hover, 
.btn-mini:active {
	color: #0066ff;
}

.btn-wide { width: 100%; }
.btn-wide.has-icon-left { text-align: left; }
.btn-wide.has-icon-right { text-align: right; }

.btn:disabled,
.btn:disabled:hover {
	background: #E4E4E4;
	border-color: #DDDDDD;
	color: #B8B8B8;
	cursor: not-allowed;
	pointer-events: none;
}
span.btn:hover, 
span.btn:active, 
span.btn-mini:hover, 
span.btn-mini:active {
	color: #222;
	cursor: default;
}

/* button group */
.btn-group {
	display: inline-block;
	margin-left: 1px;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 0;
	zoom: 1;
}
.btn-group-cell {
	display: inline-block;
	position: relative;
	margin-left: -1px;
	vertical-align: top;
}
.btn-group-cell:hover { z-index: 1; }
.btn-group .btn {
	border-width: 1px;
	border-radius: 0;
}
.btn-group-cell:first-child .btn {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.btn-group-cell:last-child .btn {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.btn-group-cell:only-child .btn {
    border-radius: 3px;
}
/* Button Hierarchy Styles */
.btn-primary, 
.btn-secondary, 
.btn-alt { text-transform: uppercase; }

.btn-primary,
.button.button-primary {
	border-color: #c60;
	background: #ffa33a;
}
.btn-primary:hover, 
.btn-primary:active,
.button.button-primary:hover,
.button.button-primary:active {
	background: #F39834;
	color: #222;
}

.btn-secondary,
.button.button-secondary {
	border-color: #849dc2;
	background: #98c6ff;
}
.btn-secondary:hover, 
.btn-secondary:active,
.button.button-secondary:hover,
.button.button-secondary:active {
	background: #7fb2f3;
	color: #222;
}

.btn-tertiary,
.button.button-tertiary {
	border-color: #a9a9a9;
	background: #E6E6E6;
}
.btn-tertiary:hover, 
.btn-tertiary:active,
.button.button-tertiary:hover,
.button.button-tertiary:active {
	background: #C9C9C9;
	color: #222;
}

.btn-tool {
	border-color: #0951bf;
	background: #1C72D4;
	color: #fff;
}
.btn-tool:hover, 
.btn-tool:active {
	background: #1159ab;
	color: #fff;
}

.btn-alt,
.button.button-alt {
	border-color: #384966;
	background: #6077A2;
	color: #FFF;
}
.btn-alt:hover, 
.btn-alt:active,
.button.button-alt:hover,
.button.button-alt:active {
	background: #4D6386;
	color: #FFF;
}

span.btn-message,
span.btn-message:hover,
.btn-message:disabled,
.btn-message:disabled:hover {
	padding-left: 0;
	padding-right: 0;
	border-color: transparent;
	background: transparent;
	color: #C62608;
	cursor: default;
}

/* has icon style 
================================*/
.has-icon-left { padding-left: 1.3em; }
.has-icon-right { padding-right: 1.5em; }
.has-icon-left:before,
.has-icon-right:before {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    width: 1em;
    font-family: FontAwesome;
    font-weight: normal;
    vertical-align: middle;
    font-size: 1em;
    line-height: 1;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.has-icon-left:before { left: 0; }
.has-icon-right:before { right: 0; }
/* button has icon */
.btn.has-icon-left { padding-left: 2.5em; }
.btn.has-icon-right { padding-right: 2.5em; }
.btn.has-icon-left:before { left: 1em; }
.btn.has-icon-right:before { right: 1em; }
.btn .flag {
	margin-top: -4px;
	height: 14px;
}
/* current button 
================================*/
.btn.is-current {
	border-color: #707070;
	background: #707070;
	color: #fff;
	cursor: default;
}